.resultsImage{
	height: 200px;
	margin: 1%;
}

.discoverImage{
	height: 300px;
	margin: 1%;
}

.aboutjumbo{
	padding: 14%;
	background-image: url("https://dog.ceo/api/img/wolfhound-irish/n02090721_4362.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: lightgrey;
	text-shadow: 2px 1px darkgrey;
}

.discoverjumbo{
	background-image: url("https://dog.ceo/api/img/terrier-fox/n02095314_2196.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: lightgrey;
	text-shadow: 2px 1px darkgrey;
}

.searchjumbo{
	padding: 7%;
	background-image: url("https://dog.ceo/api/img/whippet/n02091134_4784.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: lightgrey;
	text-shadow: 2px 1px darkgrey;
}